name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Update known_hosts
      run: |
        ssh-keyscan -H ec2-54-175-115-251.compute-1.amazonaws.com >> ~/.ssh/known_hosts


    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.CICD_TESTING_KEY }}

    - name: Deploy to Server
      run: |
        scp -r ./CICD-TESTEING/* ubuntu@ec2-54-175-115-251.compute-1.amazonaws.com:/etc/CICDTESTING
      env:
        PRIVATE_KEY: ${{ secrets.CICD_TESTING_KEY }}
